.homepage_container{
    height: 86%;
    overflow: auto;
    padding: 2% 3% 0% 3%;
    .restaurants_list_container{
        display: flex;
        flex-wrap: wrap;
        & > a{
            text-decoration: none;
        }
    }
}