.restaurant_page_main_container{
    margin: 20px 27%;
    height: 84%;
    overflow: auto;
    .restaurant_details{
        display: flex;
        justify-content: space-between;
        .restaurant_basic_info{
            display: flex;
            flex-direction: column;
            .restaurant_name{
                font-weight: 700;
                font-size: 20px;
            }
            .restaurant_cuisines, .restaurant_locality{
                font-size: 13px;
                color: gray;
                display: flex;
                align-items: end;
                
                & > svg{
                    font-size: 17px;
                    margin-right: 5px;
                }
            }
            .restaurant_cuisines{
                margin: 13px 0px 3px 0px;
            }
        }
        .restaurant_ratings{
            border: 1px solid gray;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 5px;
            height: fit-content;
            
            .restaurant_avgRating{
                color: green;
                font-weight: 700;
                font-size: 14px;
                align-items: center;
                display: flex;
                justify-content: center;
                & > svg{
                    width: 15px;
                    height: 15px;
                }
            }
            .restaurant_totalRatingsString{
                border-top: 1px solid gray;
                font-size: 11px;
                color: gray;
                margin-top: 4px;
                padding-top: 4px;
            }
        }
    }
    .restaurant_costForTwoMessage{
        font-weight: 600;
        font-size: 13px;
        border-top: 1px dashed gray;
        display: block;
        width: 100%;
        margin-top: 9px;
        padding: 7px 0px;
        border-bottom: 1px dashed gray;
    }
}
