.header_container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 6%;
    box-shadow: -2px -2px 11px 0px #d1d1d1;
    .brand{
        & > a{
            text-decoration: none;
        }
        .brand_name{
            & > label{
                margin-bottom: 10px;
                font-size: 30px;
                font-weight: 900;
                color: #fd7901;
                font-family:fantasy;
            }
            & > label:hover{
                cursor: pointer;
            }
        }
        .brand_logo{
            & > img{
                width: 50px;
                height: 50px;
                color: #fd7901;
            }
        }
    }
    .header_menu{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        & > li{
            margin-right: 60px;
            display: flex;
            align-items: flex-end;
            & > svg{
                margin-right: 2px;
            }
            &:hover{
                color: #fd7901;
                cursor: pointer;
            }
            .searchbox{
                border: 1px solid #8a8787;
                border-radius: 5px;
                width: 200px;
                height: 20px;
                &:focus-visible{
                    outline: #fd7901 auto 1px;
                }
                &:hover{
                    border-color: #fd7901;
                }
            }
        }
    }

}